<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <app-sidebar-profile></app-sidebar-profile>

  <app-sidebar-search></app-sidebar-search>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
      <li class="nav-item">
        <app-sidebar-item 
          *ngFor="let menu of sidebarMenu"
          class="nav-item" 
          [title]="menu.title" 
          [icon]="menu.icon"
          [children]="menu.children"
          [link]="menu.link"
        ></app-sidebar-item>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->