<!-- Content Header (Page header) -->
<div class="content-header mb-2">
  <div class="row">
    <div class="col-6">
      <h1 class="m-0">{{ title }}</h1>
      <ol class="breadcrumb float-sm-left">
        <li *ngFor="let breadcrumb of links; index as i" class="breadcrumb-item" [ngClass]="i == 0 ? 'active' : ''">
          <a *ngIf="i == 0" [routerLink]="breadcrumb.link">{{ breadcrumb.title }}</a>
          <span *ngIf="i != 0">{{ breadcrumb.title }}</span>
        </li>
      </ol>
    </div>
    <div class="col-6">
      <div class="float-sm-right mt-3">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
<!-- /.content-header -->